extends layout

block content
	h1= title
	p Welcome to #{title}
	// placeholder for name
	h1 Welcome {{name}} 
	// ng-model binds variable so auto reflected in tag when entered
	input(ng-model='name', placeholder='Please enter your name...')
	// display app list
	// bootstrap container
	// tell angular to use 'AppCtrl' function in server.js
	// and use it as the controller for this element
	div(ng-controller='AppCtrl').container  
		h1 ProjectList
		p
			| List of projects 
			// supply 'project' object with ng-repeat directive
			// supply directive with 'project in projects'
			// ng-repeat must be within scope of ng-controller scope
			// as the controller function definition contains a scope variable
			// that angular uses for dependency injection to supply correct object
			// string literal with pipe and currency filter for price
			ul(ng-repeat='project in projects')#projects
				li {{project.code}} - {{project.name | uppercase}} - {{project.url}} - {{project.price | currency}}
		// debug to view entire project object as a string using JSON filter
		// check if able to get data set in scope variable
		p.
			{{projects | json}}