doctype html
// activate angular
//html(lang="en", ng-app="ng-app")
// use module in js/app.js for different view
html(lang="en", ng-app="portfolio")
  head
    title= title
    // reset css method 'normalize'
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    script(type='text/javascript' src='//code.jquery.com/jquery-latest.min.js')
    script(type='text/javascript' src='/javascripts/bootstrap.min.js')
    script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js')
    script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js')
    script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.js')
    // javascript file used as angular controller
    script(type='text/javascript' src='/javascripts/controllers/app.js')
    // serves as overall file for the app (Angular 'views')
    script(type='text/javascript' src='/javascripts/app.js')
    // inline js
    script.
      var app = angular.module('portfolio', ['ngRoute']);
      var resources = angular.module('portfolio', ['ngResource']);
  body
    div.container
      // define block content as a placeholder
      block content