doctype html
html
  head
    title= title
    // reset css method 'normalize'
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    div.container
      // define block content as a placeholder
      block content