//- projectTemplate is defined in /js/controllers/app.js
div(ng-include='projectTemplate' class='span12' ng-controller='Project1Ctrl')
div(ng-include='projectTemplate' class='span12' ng-controller='Project2Ctrl')